<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="img/fav.png">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Pacifico&display=swap" rel="stylesheet">
  <title>Верные друзья</title>
 </head>
 <body>
  <header>
    <div class="logo">
        <a href="index.html"><img class="logoo" src="img/logo.png" height="150"  alt="не найдено"></a>
    </div>
  </header>
  <nav>
    <div class="topnav" id="myTopnav">
      <a href="/">Главная</a>
      <a href="/pets">Наши животные</a>
      <a href="/contacts">Контакты</a>
      <a href="/help">Срочная помощь</a>
      <a href="/help/add">Добавить пост о помощи</a>
        <a id ="menu" href="#" class="icon">&#9776;</a>
    </div>
  </nav>
  <main>
    <div class="advantages_conteiner">
        <div class="advantages">
            <div class="advantages_item">
                <img src="img/1.png" height="150" alt="">
                <h2>Лора</h2>
                <p>Ласковая и дружелюбная красавица Лора. Хорошо ладит с другими собаками. 5 лет</p>
            </div>
            <div class="advantages_item">
                <img src="img/2.png" height="150" alt="">
                <h2>Тузик</h2>
                <p>Тузик - маленький и супер-активный песик. Любит играть с мячиками. 2 года. </p>
            </div>
            <div class="advantages_item">
                <img src="img/3.png" height="150" alt="">
                <h2>Мухтар</h2>
                <p>Настоящий защитник. Серьезный и верный пёс. 8 лет.</p>
            </div>
            <div class="advantages_item">
              <img src="img/4.png" height="150" alt="">
              <h2>Масяня</h2>
              <p>Добрая и нежная Масяня. Очень спокойная. Ладит как с кошками, так и с собаками. 1 год.</p>
          </div>
          <div class="advantages_item">
            <img src="img/5.png" height="150" alt="">
            <h2>Фил</h2>
            <p>Малышу Филу всего 6 месяцев. Он уже очень воспитанный, приучен к лотку.</p>
        </div>
        <div class="advantages_item">
          <img src="img/6.png" height="150" alt="">
          <h2>Сосиска</h2>
          <p>Спокойная и милая, но немного ленивая Сосиска. Любит много спать и отдыхать. 11 месяцев.</p>
      </div>
        </div>
      </div>
  </main>
  <footer>
    <nav>
          <a href="index.html">Главная</a>
          <a href="dogs.html">Наши собаки</a>
          <a href="cats.html">Наши кошки</a>
          <a href="help.html">Как помочь?</a>
    </nav>
    <div class="logo">
      <a href="index.html"><img class="logoo" src="img/logo.png" height="150" alt="нет"></a>
    </div>
  </footer>
 </body>
</html>